nav{
    height: 10vh !important;
    font-size: 24px;
    float: right;
    margin-right: 60px;
    padding: 20px;
    letter-spacing: 0.5px;
    display: flex !important;
    align-items: center;
}
nav span{
    margin-right: 44px;
    font-size: 33px;
}
.fa-cart-plus{
    cursor: pointer;
}
.count{
    background: #f0bd1c;
    color: #333;
    border-radius: 35px;
    padding: 3px 6px;
    font-size: 15px;
}
.searchSpan{
    position: relative;
    right: 70px;
    top: -15px;
}
.searchSpan .fa-cart-plus{
    position: absolute;
}
.searchSpan i:hover{
    color:#eebf17 !important;
}