.shirtName{
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
}
.hr{
    width: 20px;
    margin: 10px auto;
    border: 2px solid #f0bd1c;
    border-radius: 17px;
}
.badgePrice{
    background: #fff!important;
    color: #333!important;
    font-weight: 800!important;
    font-size: 15px!important;
    margin-left: -5px;
    margin-bottom: 10px;
}
.doller{
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}
.addButton{
    background:#212025 !important;
    border-color: #212025 !important;
    border-radius: 0 !important;;
}
.addButton:hover{
    background:#eebf17 !important;
    border-color: #eebf17 !important;
    border-radius: 0 !important;;
}
.noSizeFound{
    font-size: 28px;
    position: relative;
    right: 81px;
    top: 86px;
    border-bottom: 3px solid #eebf17;
}
.cardMain{
    box-shadow: -1px 1px 13px -1px silver;
    padding: 25px;
}
.cardMain:hover{
    transform: scale(1.01,1.01);
    cursor: pointer;
    transition: .6s ease;
}
.mainDivCart{
    position: relative;
}
.freeShipping{
    position: relative;
    left: 86px;
    top: -24px;
    z-index: 3;
    border: 1px solid #333;
    padding: 0px 6px;
    background: #333;
    color: #fff;
}
